[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf
[submodule "littlefs"]
	path = littlefs
	url = https://github.com/littlefs-project/littlefs
[submodule "freertos-mqtt"]
	path = freertos-mqtt
	url = https://github.com/metarutaiga/freertos-mqtt
